/buoi1/hoang/nbproject/private/
/buoi1/hoang/build/
/buoi1/hoang/dist/
/buoi1/Javatuhoc1/nbproject/private/
/buoi1/Javatuhoc1/dist/
/buoi1/Javatuhoc1/build/
/Buoi2/btvn/bai1/Baitapvenha2/nbproject/private/
/Buoi2/btvn/bai1/Baitapvenha2/build/
/Buoi2/btvn/bai1/Baitapvenha2/dist/
/Buoi2/btvn/bai2/BTVN2_B2/nbproject/private/
/Buoi2/btvn/bai2/BTVN2_B2/dist/
/Buoi2/btvn/bai2/BTVN2_B2/build/
/Buoi2/btvn/Bai3/BTVN2_B3/nbproject/private/
/Buoi2/btvn/Bai3/BTVN2_B3/build/
/Buoi2/btvn/Bai3/BTVN2_B3/dist/
/Buoi2/btvn/Bai3/BTVN2_B4/nbproject/private/
/Buoi2/btvn/Bai4/BTVN2_B4/nbproject/private/
/Buoi2/btvn/Bai4/BTVN2_B4/build/
/Buoi2/btvn/Bai4/BTVN2_B4/dist/
